*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.speech{
  margin: 50px auto;
  width: 500px;
  
}

.group{
  margin: 7px 0;
}

textarea{
  width: 150%;
  padding: 5px 10px;
  border: 2px solid black;
  outline: none;
  border-radius : 3px
}

h2{
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

button{
  /* margin: auto; */
  color: white;
  background-color: #3F51B5;
  width: 50%;
  display: block;
  padding: 10px 22px;
  font-weight: bold;
  border-radius: 3px;
  font-size: 25px;
  font-family: monospace;
  border: none;
  outline: none;
  cursor: pointer;
  
}